.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  cursor: pointer;
  float: left;
  display: inline;
  margin: 17px;
  padding: 10px 3px;
  border-radius: 15px;
  background: #Dbe6ea;
}
.card a {
  color: #111;
}
.card:hover,
.card:hover a {
  background: rgb(80, 79, 79);
  color: #fff;
}
.card .card-content h4 {
  font-family: Poppins;
  font-weight: 600;
  font-weight: bold;
  font-size: 24px;
}

.card .card-content p {
  font-family: Mulish, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 2px 16px;
}
#user {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44%;
  height: 13rem;
  max-width: 100%;
  border-radius: 50%;
}
h1 {
  font-family: Poppins, "sans-serif";
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}
p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 1030px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45%;
    float: left;
    display: block;
    margin: 10px;
    padding: 10px 3px;
  }
}

@media (max-width: 420px) {
  #user {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 10rem;
    max-width: 100%;
    border-radius: 50%;
  }
  .card-content {
    padding: 0;
  }

  h1 {
    font-family: Poppins, "sans-serif";
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 550px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    float: left;
    display: block;
    margin: 10px;
    padding: 10px 3px;
  }
}
