.privacy {
  width: 70%;
  margin: auto;
  text-align: left;
}
.mail {
  color: blue;
}
.heads {
  margin-bottom: 0;
  font-size: 36px;
}
h1 {
  margin: 0;
  color: black;
}
@media (max-width: 490px) {
  .heads {
    font-size: 35px !important;
  }
}
@media (max-width: 380px) {
  .heads {
    font-size: 17px !important;
  }
}
