.questions-bank {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  text-align: left;
  font-size: 12px;
}
#agree{
  font-style: italic;
  font-weight: bold;
}
@media (max-width: 420px) {
  .questions-bank {
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .questions-bank p {
    margin-bottom: 1rem;
  }
}
