@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

.saurav {
  border-radius: 64px;
  background: #e0e0e0;
  box-shadow: 34px 20px 57px #9f9f9f, -34px -20px 57px #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* a:hover { text-decoration: none; } */
a:active {
  text-decoration: none;
}

.footer {
  background-color: #32283e !important;
  color: white;
  max-width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 83.3%;
  padding: 18px 18px;
  border-radius: 10px;
  height: 270px;
}

.footer-inside {
  display: flex;
  justify-content: space-between;
}

.left-footer {
  width: 60%;
}

.left-footer p {
  text-align: start;
  font-size: 15px;
}

.left-footer .image {
  height: 180px;
  cursor: pointer;
}

.right-footer .footer-part {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.right-footer .footer-part p {
  margin-left: 2rem;
  transition-delay: 1sec;
  margin-bottom: 1rem;
  font-size: 15px;
}

.right-footer .footer-part p a {
  color: white;
}

.right-footer .footer-part p a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.footer .footer-inside .right-footer .footer-icons > a {
  position: relative;
  top: 50px;
  padding: 4px;
  font-size: 20px;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: rgb(255, 255, 255);
}

.navbar a {
  font-size: 1.3em;
  text-transform: capitalize;
  color: white;
}

i {
  cursor: pointer;
}

.navbar a:hover {
  color: #180404 !important;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

@media (max-width: 1024px) {
  .footer .footer-inside .right-footer .footer-icons > a {
    position: relative;
    top: 0px;
    padding: 4px;
    font-size: 20px;
  }
}
@media (max-width: 970px) {
  .footer {
    height: 250px !important;
  }
}
@media (max-width: 780px) {
  .footer {
    height: 320px !important;
  }
}
@media (max-width: 620px) {
  .footer {
    height: 660px !important;
  }
}

@media (max-width: 446px) {
  .footer {
    height: 700px !important;
  }
}
@media (max-width: 376px) {
  .footer {
    height: 560px !important;
  }
}

@media (max-width: 320px) {
  .footer {
    height: 700px !important;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

@media (max-width: 625px) {
  .footer {
    height: 700px;
  }

  .footer-inside {
    display: block;
  }

  .left-footer {
    width: 100%;
  }

  .left-footer .image {
    height: 30px;
    cursor: pointer;
    display: initial;
  }

  .left-footer p {
    display: inline-block;
    text-align: center;
    padding: 8px;
  }

  .right-footer .footer-part {
    display: block;
  }

  .right-footer .footer-part p {
    display: block;
    margin-left: auto;
  }
}

.qta {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 1rem;
}

.ans-bank p {
  font-size: 25px;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
  margin-bottom: 0;
}

@media (max-width: 300px) {
  .ans-bank p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
