.sem,
#sub {
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.accordion-button {
    font-size: 25px;
    padding: 50px;
}

.sem .btn {
    padding: 100px;
    margin: 10px;
    font-size: 25px;
    font-weight: 200;
    border-radius: 30px;
}

#sub .btn {
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    font-weight: 200;
    border-radius: 30px;
}